  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">DoItVest</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/investors/signupinvestor">Investors</a></li>
        <li><a href="/companies/signup">Companies</a></li>
        <% if(session.Investor) { %>
          <li><a href="/investors/profile"><%= session.Investor.data.name %>'s profile</a></li>
        <%} %>
        <% if(session.Company) { %>
        <li><a href="/companies/approve/"><%= session.Company.data.name %>'s profile</a></li>
        <% } %>
        <% if(session.Company || session.Investor) { %>
          <li><a href="/?signout=y">Sign Out</a></li>
        <% } %>
      </ul>
    </div>
  </nav>
          