<html>
<%- include ./partials/headers/ %>
<%- include ./partials/navbar/ %>

<a href="/investors/signupform"></a>

<% if(success) { %>
<hi style="text-align: center"><%= success %></hi>
<% } %>
    <h1>WELCOME</h1>


</html>